/data/document_vectors/
data/vocabulary.txt
data/inverted_index.pkl
data/tfidf_vectorizer.pkl
data/processed_docs.txt
data/processed_docs1.txt
data/document_vectors.pkl
data/processed_docs_dataset2.txt
data/document_vectors2.pkl
data/tfidf_vectorizer2.pkll
file_checkpoint.pkl
relevant_docs/
data/
apis/data/
apis/file_checkpoint.pkl
